body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f4B400;
    margin-bottom: 4px;
}

button {
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

#input-btn {
    background: #4285F4;
    border: 1px solid #4285F4;
}

#tab-btn {
    background: #0F9D58;
    border: 1px solid #0F9D58;
}

#delete-btn {
    background-color: #fff;
    color: #DB4437;
    border: 1px solid #DB4437;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #f4B400;
    font-size: 18px;
    font-weight: 600;
}
